$textColor1: #008020;
$textColor2: #5a0380;
$textColor3: #004585;

.welcome-text-container {
  display: block;
  margin: 9em 0 3em 13em;
  font-family: "Fredoka One", cursive;
  font-size: 2em;
  height: 40vh;
}

.welcome-container {
  position: relative;
  width: 100%;
  display: flex;
  height: 93vh;
}

.welcome-container img {
  position: absolute;
  left: 0;
  top: -200px;
  width: 100%;
  height: calc(100% + 300px);
  opacity: 0.37;
  z-index: -1;
}

.line-one {
  color: $textColor3;
}

.line-two {
  color: $textColor1;
  margin: 1em 0 0 2em;
}

.line-three {
  color: $textColor2;
  margin-top: 1em;
}

@media (max-width: 769px) {
  .welcome-text-container {
    display: block;
    margin: 9em 0 1em 3em;
    font-family: "Architects Daughter", cursive;
    font-size: 2em;
  }
  .welcome-container img {
    position: absolute;
    left: 0;
    top: -100px;
    width: 100%;
    height: calc(100% + 160px);
    opacity: 0.37;
    z-index: -1;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .welcome-text-container {
    display: block;
    margin: 12em 0 1em 3em;
    font-family: "Architects Daughter", cursive;
    font-size: 2em;
  }
  .welcome-container img {
    position: absolute;
    left: 0;
    top: -100px;
    width: 100%;
    height: calc(100% + 100px);
    opacity: 0.37;
    z-index: -1;
  }
}
