<div class="welcome-container">
  <div class="welcome-text-container">
    <div class="line-one">
      <teximate [text]="line1" [enter]="lineOneAnimation"></teximate>
    </div>
    <div class="line-two">
      <teximate [text]="line2" [enter]="lineTwoAnimation"></teximate>
    </div>
    <div class="line-three">
      <teximate [text]="line3" [enter]="lineFourAnimation"></teximate>
    </div>
    <div class="line-four">
      <teximate [text]="line4" [enter]="lineFourAnimation"></teximate>
    </div>
  </div>
  <img
    src="/assets/images/geometricbg2.webp"
    alt="cool retro wallpaper for welcome
  section"
  />
</div>

<!-- <a href='https://pngtree.com/so/ball'>ball png from pngtree.com</a> -->
