.welcome-text-container {
  display: block;
  margin: 9em 0 3em 13em;
  font-family: "Coiny", sans-serif;
  font-size: 2em;
  height: 40vh;
}

.welcome-container {
  position: relative;
  width: 100%;
  display: flex;
  height: 93vh;
  background-color: var(--background-color);
  z-index: -1;
}

.welcome-container img {
  position: absolute;
  left: 0;
  top: -200px;
  width: 100%;
  height: calc(100% + 300px);
  opacity: 0.37;
  z-index: -1;
  filter: var(--image-filter);
}

.line-one {
  color: var(--line-one-text);
}

.line-two {
  color: var(--line-two-text);
  margin: 1em 0 0 1.1em;
}

.line-three {
  color: var(--line-three-text);
  margin: 1em 0 0 1.6em;
}

.line-four {
  color: var(--line-four-text);
  margin: 1em 0 0 1.9em;
}

@media (max-width: 480px) {
  .welcome-text-container {
    display: block;
    margin: 2.3em 0 1.6em 3em;
    font-family: "Coiny", sans-serif;
    font-size: 2em;
  }
  .welcome-container {
    height: 55vh;
  }
  .welcome-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 55vh;
    opacity: 0.37;
    z-index: -1;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .welcome-text-container {
    display: block;
    margin: 1.3em 0 2em 3em;
    font-family: "Coiny", sans-serif;
    font-size: 2em;
  }
  .welcome-container {
    height: 49vh;
  }
  .welcome-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 49vh;
    opacity: 0.37;
    z-index: -1;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .welcome-text-container {
    display: block;
    margin: 2.7em 0 2em 3em;
    font-family: "Coiny", sans-serif;
    font-size: 2em;
  }
  .welcome-container {
    height: 49vh;
  }
  .welcome-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 49vh;
    opacity: 0.37;
    z-index: -1;
  }
}
