.position-filler {
  flex: 1 1 auto;
}

.nav-links a {
  margin-right: 1.1em;
  text-decoration: none;
}

mat-toolbar {
  background-color: var(--nav);
  color: var(--nav-text);
  height: 7.77vh;
}

.menu-panel {
  margin: -8px 0;
  padding: 8px 0;
}
