@import "../../../variables";

.position-filler {
  flex: 1 1 auto;
}

.nav-links a {
  margin-right: 1.1em;
  text-decoration: none;
  color: #fff;
}

mat-toolbar {
  height: 7vh;
  color: lighten($secondary-color, 18) !important;
}
