<mat-toolbar>
  <h1>{{ title }}</h1>
  <span class="position-filler"></span>
  <button mat-icon-button (click)="changeTheme()">
    <mat-icon svgIcon="{{ themeIcon }}"></mat-icon>
  </button>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="toggle menu button"
  >
    <mat-icon svgIcon="menu"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div
      class="menu-panel"
      [ngStyle]="{ 'background-color': menuPanelBackgroundColor }"
      class="menu-panel"
    >
      <a
        mat-menu-item
        href="#projects"
        [ngStyle]="{ color: menuPanelTextColor }"
        >Projects</a
      >
      <a
        mat-menu-item
        href="#articles"
        [ngStyle]="{ color: menuPanelTextColor }"
        >Articles</a
      >
      <a mat-menu-item href="#about" [ngStyle]="{ color: menuPanelTextColor }"
        >About</a
      >
    </div>
  </mat-menu>
</mat-toolbar>
