.project-card {
  background-color: var(--secondary);
  margin-top: 2em;
  width: 32em;
  height: 13em;
}

mat-card-actions a:nth-child(1) {
  background-color: var(--secondary-alt);
  color: var(--primary-text);
}

mat-card-actions a:nth-child(2) {
  background-color: var(--primary-alt);
  color: var(--primary-text);
}

.mat-card {
  display: flex;
  flex-direction: column;
}

.mat-card-header {
  flex-shrink: 0;
}

.mat-card-content {
  flex-grow: 1;
  overflow: auto;
}

@media (max-width: 480px) {
  .project-card {
    width: 82vw;
    height: 23vh;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .project-card {
    width: 40vw;
    height: 20vh;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .project-card {
    width: 26vw;
    height: 18vh;
  }
}
