@import "../../../../variables";

.post-url {
  text-decoration: none;
  color: lighten($secondary-color, 5);
}

.post-tag {
  display: inline-flex;
}

.postCard {
  background-color: darken($primary-color, 20);
  color: lighten($secondary-color, 5);
}
