.post-url {
  text-decoration: none;
  color: var(--primary-text);
}

.post-tag {
  display: inline-flex;
}

.postCard {
  position: relative;
  z-index: 10 !important;
  background-color: var(--primary);
  color: var(--primary-text);
}

h1 a {
  font-size: 0.8em;
}
