@import "../../../variables";

.projects-container {
  background-color: lighten($primary-alt-color, 26);
  padding: 3em 2em 7em 2em;
  color: darken($primary-color, 20);
}

.projects-heading {
  text-align: center;
  .Heading {
    color: darken($primary-color, 20);
    margin-bottom: 1em;
  }
  a {
    text-decoration: none;
    color: darken($primary-color, 20);
    :hover {
      color: lighten($primary-color, 20);
    }
  }
}

.projects-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
