.posts-container {
  position: relative;
  width: 100%;
  display: flex;
  height: 96vh;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--primary-text);
}

.posts-container img {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 96vh;
  object-fit: cover !important;
  opacity: 0.19 !important;
  z-index: 1 !important;
  filter: var(--image-filter);
}

.articles-wrapper {
  color: var(--primary-text);
  padding: 6em 2em 7em 2em;
}

.posts-heading {
  position: relative;
  z-index: 10;
  text-align: center;
  margin-bottom: 3em;
  p {
    margin-top: 2.1em;
    font-size: 1.3em;
  }
}

a {
  text-decoration: none;
  color: var(--primary-text);
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  padding: 1em;
  width: 75%;
}

@media (max-width: 480px) {
  .post {
    padding: 0.75em;
    width: 85%;
  }
  .posts-container {
    height: 125vh;
  }
  .posts-container img {
    height: 125vh !important;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .post {
    padding: 0.85em;
    width: 84%;
  }
  .posts-container {
    height: 90vh;
  }
  .posts-container img {
    height: 90vh;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .post {
    padding: 0.95em;
    width: 80%;
  }
  .posts-container {
    height: 74vh;
  }
  .posts-container img {
    height: 74vh;
  }
}
