@import "../../../variables";

.bgimage {
  position: relative;
  height: 100vh;
  width: 100%;
}

.bgimage::after {
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("/assets/images/geometricbg3.jpg");
  z-index: -1;
  opacity: 0.45;
}

.posts-component-container {
  color: darken($primary-color, 20);
  padding: 6em 2em 7em 2em;
}

.posts-heading {
  text-align: center;
  margin-bottom: 3em;
  p {
    margin-top: 2.1em;
    font-size: 1.1em;
  }
}

a {
  text-decoration: none;
  color: darken($primary-color, 20);
  :hover {
    color: lighten($secondary-alt-color, 50);
  }
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  padding: 1em;
  width: 75%;
}

@media (max-width: 480px) {
  .post {
    padding: 0.75em;
    width: 85%;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .post {
    padding: 0.85em;
    width: 84%;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .post {
    padding: 0.95em;
    width: 80%;
  }
}
