<div class="posts-container">
  <div id="articles" class="articles-wrapper">
    <div class="posts-heading">
      <h1 class="Heading">Articles</h1>
      <p>
        Here's a few of my latest posts. For more articles click
        <a href="https://dev.to/jasonfritsche" target="_blank">here</a> to view
        my dev.to profile.
      </p>
    </div>
    <div class="posts">
      <div class="post" *ngFor="let post of posts">
        <app-post [post]="post"></app-post>
      </div>
    </div>
  </div>
  <img src="/assets/images/geometricbg3.jpg" />
</div>

<!-- bg image attribution
<a href='https://www.freepik.com/psd/background'>Background psd created by ydlabs - www.freepik.com</a>-->
