@import "~@angular/material/theming";
@include mat-core();
@import "~@mdi/font/css/materialdesignicons.css";
@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Inder&display=swap");

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Inder", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
}

.Heading {
  font-family: "Inder", sans-serif !important;
  font-size: 4.4em !important;
}

.Footer {
  flex-shrink: 0;
}

::ng-deep .mat-menu-content {
  padding: -5px !important;
}

// .mat-menu-content:not(:empty) {
//   margin-top: -8px !important;
//   margin-bottom: -2px !important;
// }

// .mat-menu-panel {
//   background-color: #292c2e;
// }

// .mat-menu-item {
//   color: #d1d1d1;
// }
