@import "~@mdi/font/css/materialdesignicons.css";
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inder&display=swap");

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
}

.Heading {
  font-family: "Inder", sans-serif !important;
  font-size: 4.4em !important;
}

.Footer {
  flex-shrink: 0;
}
