<div class="contact-container">
  <div class="links-wrapper">
    <a
      href="https://github.com/JasonFritsche"
      class="github"
      target="_blank"
      matTooltip="GitHub"
      mat-icon-a
      rel="noreferrer"
    >
      <mat-icon svgIcon="github"></mat-icon>
    </a>
    <a
      href="https://dev.to/jasonfritsche"
      class="devto"
      target="_blank"
      mat-icon-a
      matTooltip="Dev.to"
      rel="noreferrer"
    >
      <mat-icon svgIcon="dev-to"></mat-icon>
    </a>
    <a
      href="https://www.linkedin.com/in/jason-fritsche/"
      class="linkedin"
      target="_blank"
      matTooltip="LinkedIn"
      mat-icon-a
      rel="noreferrer"
    >
      <mat-icon svgIcon="linkedin"></mat-icon>
    </a>
    <a
      class="email"
      [cdkCopyToClipboard]="email"
      mat-icon-a
      matTooltip="Click to copy email"
      rel="noreferrer"
    >
      <mat-icon svgIcon="email"></mat-icon>
    </a>
  </div>
</div>
