<div class="contact-container">
  <div class="links-wrapper">
    <a
      href="https://github.com/JasonFritsche"
      class="github"
      target="_blank"
      matTooltip="GitHub"
      mat-icon-a
    >
      <span class="mdi mdi-github links"></span>
    </a>
    <a
      href="https://www.linkedin.com/in/jason-fritsche/"
      class="linkedin"
      target="_blank"
      matTooltip="LinkedIn"
      mat-icon-a
    >
      <span class="mdi mdi-linkedin links"></span>
    </a>
    <a
      class="email"
      [cdkCopyToClipboard]="email"
      mat-icon-a
      matTooltip="Click to copy email"
    >
      <span class="mdi mdi-email links"></span>
    </a>
    <a
      href="https://dev.to/jasonfritsche"
      class="devto"
      target="_blank"
      mat-icon-a
      matTooltip="Dev.to"
    >
      <span class="mdi mdi-dev-to links"></span>
    </a>
  </div>
</div>
